/* CSS from https://www.w3schools.com/howto/howto_js_copy_clipboard.asp */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* My css */

:root {
    --background: #1d1d1d;
    --blue: #1c71d8;
    --teal: #2190a4;
    --green: #1f7f56;
    --yellow: #c88800;
    --orange: #ed5b00;
    --red: #e62d42;
    --pink: #d56199;
    --purple: #9141ac;
    --gray: #6f8396;
    --forground: #303030;

    font-family: Tahoma, sans-serif;
}

body {
    background-color: var(--background);
}

a {
    color: var(--blue);
    text-decoration: none;
}

p {
    color: white;
}

h1 {
    padding-top: 1em;
    padding-bottom: 0px;
    text-align: center;
    font-size: 3.7em;
}

.title {
    color: transparent;
    background-image: linear-gradient(
        -45deg,
        var(--blue),
        var(--teal),
        var(--green),
        var(--gray)
    );
    background-clip: text;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.subtitle {
    text-align: center;
    font-size: 1.5em;
}

.links {
    display: grid;
    justify-items: center;
    row-gap: 6px;
}

.button {
    padding: 10px;
    background-color: var(--blue);
    border-radius: 8px;
    color: white;
    font-size: 25px;
    border-style: solid;
    border-color: var(--blue);
}

@keyframes hover-anim {
    0% {
        background-color: var(--blue);
        color: white;
    }

    100% {
        background-color: var(--background);
        color: var(--blue);
        border-style: solid;
        border-color: var(--blue);
        color: var(--blue);
    }
}

.button:hover {
    animation: hover-anim 0.5s linear forwards;
    background-color: var(--background);
    border-style: solid;
    border-color: var(--blue);
    color: var(--blue);
}

/* dis is a button that i didnt wanted to be styles by the button class */

.dis {
    padding: 10px;
    background-color: var(--blue);
    border-radius: 8px;
    color: white;
    font-size: 25px;
    border-style: solid;
    border-color: var(--blue);
}

.dis:hover {
    animation: hover-anim 0.5s linear forwards;
    /* background-color: var(--background);
    border-style: solid;
    border-color: var(--blue);
    color: var(--blue); */
}

.dis:active {
    animation: hover-anim 0.5s linear infinite;
}

/* old animation that turned button gray to show it isnt working */

/* @keyframes dis-anim {
    0% {
        background-color: var(--background);
        color: var(--blue);
        border-style: solid;
        border-color: var(--blue);
        color: var(--blue);
    }

    50% {
        background-color: var(--background);
        color: var(--green);
        border-style: solid;
        border-color: var(--green);
        color: var(--green);
    }

    80% {
        background-color: var(--background);
        color: var(--green);
        border-style: solid;
        border-color: var(--green);
        color: var(--green);
    }

    100% {
        background-color: var(--blue);
        color: white;
        border-style: solid;
        border-color: var(--blue);
    }
} */

.dis > span {
    font-size: 15px;
}

.fa-bluesky:hover {
    color: transparent;
    background-image: linear-gradient(-45deg, #62cff4, #2c67f2);
    /* Bluesky color gradient */
    background-clip: text;
}

.fa-instagram:hover {
    color: transparent;
    background-image: linear-gradient(-45deg, #f9ce34, #ee2a7b, #6228d7);
    /* Instagram color gradient */
    background-clip: text;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--forground);
    color: white;
    padding: 5px;
    text-align: center;
}

.github {
    color: transparent;
    background-image: linear-gradient(
        -45deg,
        var(--blue),
        var(--teal),
        var(--green),
        var(--gray)
    );
    background-clip: text;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-weight: bold;
}

.github:hover {
    animation: gradient 2s linear infinite;
    background-image: linear-gradient(
        -45deg,
        var(--blue),
        var(--teal),
        var(--green),
        var(--yellow),
        var(--orange),
        var(--purple),
        var(--gray)
    );
}
